.frame {
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 7px 5px;
  cursor: pointer;
  display: flex;
  .icon {
    width: 100px;
    height: 100px;
    font-size: 60px;
    background-color: red;
    border: 1px solid #979797;
    background-color: #ececec;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    width: calc(100% - 100px);
    height: 100px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
