.frame {
  padding-top: 20px;
  .backLink {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    span {
      margin-right: 10px;
    }
  }
}
